@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto max-w-[75rem] p-2;
}

@layer components {
  .header {
    @apply bg-light fixed w-full z-[999] 
            md:border-b-[1px] md:border-gray-400 lg:border-b-0 lg:bg-transparent lg:translate-y-10;
  }
  .header .header_wrapper {
    @apply flex items-center justify-between;
  }
  .header .branding {
    @apply flex items-center gap-5;
  }
  .header .branding img {
    @apply w-40 lg:w-28;
  }
  .header .toggle_menu {
    @apply lg:hidden;
  }
  .header .toggle_menu span:first-child {
    @apply w-[2.5rem] h-[2px] bg-dark block rounded-full transition ease-in duration-500;
  }
  .header .toggle_menu span:nth-child(2) {
    @apply w-[2rem] h-[2px] bg-dark block rounded-full my-2 transition ease-in duration-500;
  }
  .header .toggle_menu span:last-child {
    @apply w-[1.5rem] h-[2px] bg-dark block rounded-full transition ease-in duration-500;
  }
  .header .toggle_menu.open span:first-child {
    @apply w-[2.5rem] rotate-[225deg] translate-y-3 transition ease-in duration-500;
  }
  .header .toggle_menu.open span:nth-child(2) {
    @apply opacity-0;
  }
  .header .toggle_menu.open span:last-child {
    @apply w-[2.5rem] rotate-[-225deg] -translate-y-2 transition ease-in duration-500;
  }
  .header ul.header_nav {
    @apply bg-light absolute left-[-100rem] top-16 h-[calc(100vh-64.45px)] w-[250px] pt-8 flex flex-col gap-1 border transition-all
            lg:bg-transparent lg:static lg:h-fit lg:w-fit lg:pt-0 lg:flex lg:flex-row lg:border-0 lg:gap-5;
  }
  .header ul.header_nav.open {
    @apply left-0 transition-all;
  }
  .header .header_actions {
    @apply lg:flex lg:items-center lg:gap-[1rem];
  }
  .header ul.header_nav li.nav {
    @apply relative;
  }
  .header ul.header_nav li.nav:hover ul.header_sub {
    @apply lg:translate-y-5 lg:opacity-100 lg:h-fit;
  }

.header ul.header_nav li.nav a.navA {
  @apply flex items-center justify-between px-4 py-3 hover:bg-accent hover:text-light font-semibold text-lg
            lg:text-sm lg:justify-normal lg:gap-2 lg:hover:bg-transparent lg:hover:text-dark
            lg:after:content-[''] lg:after:w-[70%] lg:after:h-1 lg:hover:after:bg-accent lg:after:block 
            lg:after:absolute lg:after:bottom-0;
}

.header ul.header_nav li.nav a.navA.open {
  @apply bg-accent text-light lg:bg-transparent lg:text-dark;
}
.header ul.header_nav li.nav a i {
  @apply transition-all text-[.5rem];
}
.header ul.header_nav li.nav a i.open {
  @apply rotate-180 transition-all lg:rotate-0;
}
.header ul.header_nav li.nav:hover a span,
.header ul.header_nav li.nav:hover a i {
  @apply text-light lg:bg-transparent lg:text-dark;
}
.header ul.header_sub {
  @apply max-h-[0rem] overflow-hidden transition-all
            lg:max-h-[50rem] lg:bg-light lg:absolute lg:translate-y-[5rem] lg:opacity-0 lg:h-0 lg:shadow-2xl
            lg:w-[15rem] lg:px-3;
}
.header ul.header_sub.open {
  @apply max-h-[50rem] transition-all;
}
.header ul.header_sub li a {
  @apply flex items-center justify-between px-4 py-3  !text-[.9rem] !font-extralight
            lg:hover:text-accent;
}
.header ul.header_sub li {
  @apply mt-1 hover:bg-accent hover:text-light pl-5
            lg:border-b-[1px] lg:hover:bg-transparent lg:hover:after:!bg-light;
}

/* BANNER */
.banner {
  @apply h-[98vh] bg-primary relative
   md:h-[80vh] lg:h-[90vh]  md:bg-light md:bg-banner-desk md:bg-cover md:bg-no-repeat md:bg-center;
}
.banner .tns-nav {
  @apply translate-y-[4800%] flex justify-center gap-10
    md:translate-y-[3000%] lg:translate-y-[3800%];
}
.banner .tns-nav button {
  @apply bg-gray-600 p-2 rounded-full hover:bg-accent;
}
.banner .tns-nav button.tns-nav-active {
  @apply bg-accent;
}
.banner .tns-controls {
  @apply lg:translate-y-[500%] lg:flex lg:justify-between lg:absolute lg:left-0 lg:w-[90%] lg:translate-x-[5%] lg:z-[100];
}
.banner .tns-controls button {
  @apply 2xl:bg-light 2xl:shadow-[0_10px_30px_#2b2b2b] 2xl:px-5 2xl:py-3  2xl:rounded-full;
}
.banner .banner_item {
  @apply px-16 md:px-4 md:!inline-grid md:!grid-cols-2 md:gap-[10rem] md:items-center;
}
.banner .banner_item img {
  @apply w-[20rem] mx-auto mb-10 md:order-2
    lg:w-[25rem];
}
.banner .banner_item h4 {
  @apply text-center;
}
.banner .banner_item h4 span {
  @apply text-light text-xs font-semibold px-2;
}
.banner .banner_item h4 span:nth-child(2) {
  @apply border-r-2 border-l-2;
}

.banner .banner_item h1 {
  @apply text-[2.3rem] text-light font-bold text-center my-4
    lg:text-7xl;
}
.banner .banner_item p {
  @apply text-light text-center mb-4;
}
.banner .banner_item .banner_btn {
  @apply py-5;
}
.banner .banner_item .banner_btn a {
  @apply flex items-center gap-2 relative w-fit mx-auto px-5 
    before:content-[''] before:w-14 before:h-14 before:bg-accent before:block before:rounded-full
    before:absolute before:-left-1 before:transition-all hover:before:w-full hover:before:transition-all;
}
.banner .banner_item .banner_btn a span {
  @apply text-light font-semibold relative;
}
.banner .banner_item .banner_btn a i {
  @apply text-light text-[.5rem] opacity-0 relative transition-all;
}
.banner .banner_item .banner_btn a:hover i {
  @apply opacity-100 transition-all;
}

/* POPULAR */
.popular {
  @apply relative;
}
.popular .popular_features h1 {
  @apply text-primary text-4xl font-bold py-5 pt-5 flex justify-center ;
}
.popular .popular_features p {
  @apply text-[1rem] pl-4 justify-center text-center mb-10;
}
.popular .popular_list img {
  @apply mx-auto;
}
.popular .popular_description h1 {
  @apply font-semibold;
}
.popular .tns-controls {
  @apply flex items-center justify-between absolute left-0 z-[100] w-[100%] translate-y-[500%] lg:justify-center lg:gap-[75rem];
}
.popular .tns-controls button {
  @apply bg-light shadow-[0_10px_30px_#2b2b2b] py-3 px-5 lg:bg-transparent lg:shadow-transparent;
}
.popular .popular_item {
  @apply relative;
}
.popular .popular_item .popular_description {
  @apply text-light font-semibold text-[] translate-x-[6rem]  z-[100] absolute bottom-5 left-[2%] lg:left-[-40px];
}
.popular .popular_item .popular_description h1{
    @apply text-3xl mb-4
}
.popular .popular_item .popular_description p{
    @apply text-[1rem]
}
.popular .popular_item .popular_description i {
  @apply mr-2;
}
.popular .popular_item img {
  @apply relative z-10;
}

/* New Releases */
.releases {
  @apply relative;
}
.releases .releases_features h1 {
  @apply text-primary text-4xl font-bold pt-20 py-5 flex justify-center;
}
.releases .releases_features p {
  @apply text-[1rem] pl-4 justify-center text-center mb-10;
}
.releases .releases_list img {
  @apply mx-auto;
}
.releases .releases_description h1 {
  @apply font-semibold;
}
.releases .tns-controls {
  @apply flex items-center justify-between absolute left-0 z-[100] w-[100%] translate-y-[500%] lg:justify-center lg:gap-[75rem];
}
.releases .tns-controls button {
  @apply bg-light shadow-[0_10px_30px_#2b2b2b] py-3 px-5 lg:bg-transparent lg:shadow-transparent;
}
.releases .releases_item {
  @apply relative;
}
.releases .releases_item .releases_description {
  @apply text-light font-semibold text-[] translate-x-[6rem]  z-[100] absolute bottom-5 left-[2%] lg:left-[-40px];
}
.releases .releases_item .releases_description h1{
    @apply text-3xl mb-4
}
.releases .releases_item .releases_description p{
    @apply text-[1rem]
}
.releases .releases_item .releases_description i {
  @apply mr-2;
}
.releases .releases_item img {
  @apply relative z-10;
}

/* CATEGORIES */
.categories{
    @apply bg-primary px-16
}
.categories_text h1{
    @apply font-bold text-light text-4xl mt-8 max-w-16 mb-6
}
.categories_text p{
    @apply text-light font-semibold text-lg mt-7 mb-7
}
.categories_text a{
    @apply text-light font-bold mb-7
}
.categories .categories_item{
    @apply bottom-5 left-5 grid grid-cols-1 gap-5 
    md:grid md:grid-cols-2 md:gap-6
}
.categories .categories_item .categories_cards#categ-1{ 
    @apply h-[250px] bg-no-repeat bg-categ-1 bg-cover
}
.categories .categories_item .categories_cards#categ-2{ 
    @apply h-[250px] bg-no-repeat bg-categ-2 bg-cover
}
.categories .categories_item .categories_cards#categ-3{ 
    @apply h-[250px] bg-no-repeat bg-categ-3 bg-cover
}
.categories .categories_item .categories_cards#categ-4{ 
    @apply h-[250px] bg-no-repeat bg-categ-4 bg-cover
}
.categories .categories_item .categories_cards#categ-5{ 
    @apply h-[250px] bg-no-repeat bg-categ-5 bg-cover
}

/* APPS */
.apps{
  @apply bg-gray-200;
}
.apps .apps_wrapper{
  @apply flex
}
.apps h2{
  @apply font-semibold text-2xl text-primary mt-10 mb-3 ;
}
.apps h1{
  @apply font-bold text-4xl text-primary mb-5;
}
.apps .apps_bearer{
  @apply lg:flex
}
.apps .apps_item h4{
  @apply text-gray-500 font-normal text-xl pb-6 ;
}
.apps_btn{
  @apply flex translate-x-3 
}
.apps_btn a{
  @apply flex ;
}
.apps_btn i{
  @apply text-3xl translate-x-4 translate-y-1;
}
.apps_btn i:first-child(){
  @apply text-gray-600
}
.apps .apps_presentation{
  @apply mt-14;
}
.apps .apps_playstore-text{
  @apply items-center translate-x-7
}
.apps .apps_playstore-text p{
  @apply text-sm font-semibold text-gray-600;
}
.apps .apps_playstore-text h3{
  @apply text-lg font-semibold 
}
.apps .apps_wrapper{
  @apply lg:flex lg:mt-20
}

/* NEWS */
.news{
    @apply bg-primary 
}
.news .news_features{
  @apply lg:flex lg:grid lg:grid-cols-4 lg:gap-8;
}
.news .news_item{ 
   @apply relative mb-28  
    
}
.news_title h1{
    @apply font-bold text-5xl text-light text-center mt-8 mb-20 pt-10
}
.news .news_item img{
   @apply mx-auto w-[25rem] h-[18rem] relative 
   lg:w-auto ;
}.news .news_item img:hover{
  @apply lg:translate-y-4 lg:transition-transform lg:ease-linear
}


.news .news_description{
    @apply  bg-light mb-10 max-w-80 z-50 h-[8rem] absolute -bottom-24 left-[6rem] pl-6 
    lg:translate-y-8  lg:-translate-x-20 lg:w-60 lg:max-w-80 lg:pb-40 lg:transition-transform
}
.news .news_description:hover{
  @apply lg:translate-y-4 
}
.news .news_description h2:hover{
  @apply lg:text-accent 
} 

.news .news_description h2{
    @apply text-primary font-semibold text-[20px] pb-4 pt-5 lg:max-w-36 lg:hover:before:bg-accent
}
.news .news_description p{
    @apply text-gray-600 font-medium 
}

/* FOOTER */
.footer{
  @apply bg-accent
}
.footer_options{
  @apply text-light
}
/* .footer .footer_options:hover{
  @apply text-gray-500
} */

.footer_index{
  @apply grid lg:grid-cols-3 gap-[10rem]
}
.footer_options h1{
  @apply text-2xl font-normal mt-6 
}
.footer_options li{
  @apply font-light text-[19px] pt-4
}
.footer .footer_items:last-child{
  @apply flex gap-24
}
.footer .footer_end{
  @apply flex flex-col items-center
  lg:grid lg:grid-cols-[1fr_2fr_1fr] lg:mt-[9rem]
}
.footer .footer_end img{
  @apply w-28
}
.footer .footer_end p{
  @apply text-light text-[18px] pl-[6rem]
}
.footer .footer_social{
  @apply text-gray-200 text-[1.6rem] flex gap-6 border-light
}
.footer .footer_social:nth-child():hover{
  @apply text-transparent
}
}



























@layer utilities{
  .btn{
    @apply inline-block text-light text-center rounded-[5rem] border-opacity-50 ;
}
.btn.bg--dark{
  @apply bg-dark w-48 ;
}
.btn:hover{
  @apply bg-zinc-500;
}
.btn.bg--transparent{
  @apply bg-transparent border-light;
}
}
